.wrapper{ height: -1in; color:green; text-align: center; margin: 10px; font-size: 300% }

body{background-image:url("./CuPic/CU.svg");}

#no-class{color: greenyellow; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 100px;}

.exclaim-class{Border: 10px ridge blue}